* { box-sizing: border-box; }

body {
    background-color: moccasin;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --slate-blue: #849fb8;
    --black: #000000;
    --gray: #c4c4c4;
    --white: #ffffff;
    --light-gray: #ecebeb;
}

.navbar-container {
    width: 100%;
    height: 80px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--slate-blue);
}

@media screen and (max-width: 680px) {
   .navbar-container {
       flex-direction: column;
       height: 95px;
   }
}

.navbar-logo-wrapper {
    height: 100%;
    margin-left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-link, .navigation-link {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

.navbar-logo-img {
    /* Photo by Daniel Nettesheim from Pexels */
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.navbar-logo-brand {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
}

.navbar-navigation-wrapper {
    list-style: none;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 16px;
}

.navigation-item {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 5px;
}

.about-img{
   margin:20px;
   float:left;
}



.card {
    width: 0%;
    display: flex;
    flex-direction: row-reverse;
    border: auto red solid;
    direction: rtl;
    height: 1050px;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap; 
    padding: 15px;
    align-content: center;
    align-self: center;
    margin-left: 18%;
    column-gap: 30px;
    column-fill: auto;
    
  
  
}

.header {
    height: 30%;
    background: var(--black);
    color: white;
    text-align: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}


.container {
    padding: 2px 16px;
    display: flex;
    flex-direction: row-reverse;
    width: 300px;
    height: 10px;
    direction: rtl;
    background: var(--slate-blue);
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    
}

