* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --slate-blue: #849fb8;
    --black: #000000;
    --gray: #c4c4c4;
    --white: #ffffff;
    --light-gray: #ecebeb;
}

.navbar-container {
    width: 100%;
    height: 80px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--slate-blue);
}

@media screen and (max-width: 680px) {
   .navbar-container {
       flex-direction: column;
       height: 95px;
   }
}

.navbar-logo-wrapper {
    height: 100%;
    margin-left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-link, .navigation-link {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

.navbar-logo-img {
    /* Photo by Daniel Nettesheim from Pexels */
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.navbar-logo-brand {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
}

.navbar-navigation-wrapper {
    list-style: none;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 16px;
}

.navigation-item {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 5px;
}

.mission{
  text-align: center;
  margin-top: 170px;
  
}

.card-bg{
  background-color: #c4c4c4;
  margin-top: 150px;
  padding: -100px;
}
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  /* Float four columns side by side */
  .column {
    float: right;
    width: 200px;
    padding: 0 200px;
    position: relative;
    right: -250px;
    top: 10px;
    margin: 40px;

  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content:" ";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 20px;
    text-align: center;
    background-color:  #849fb8; 
    height: 275px;
    position: relative;
    right: 600px;
    top: -5px;
    width: 200px;
    display: grid;
    
  }

   .card:not(:first-child) {
    margin-left: -2rem;
  }

  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;    
      display: block;
      margin-bottom: 20%;
    }
  }

  .button {
    color: black;
    background-color:  #e7e7e7; /* Gray */
    border: none;
    font-size: 15px;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 50%;
    box-shadow: 0 5px #666;
    animation: pulse 5s infinite;
  } 

   .button:hover {
       color: red;
}

.button:active {
    background-color: #f01414;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  } 

.about-img{
   margin:60px;
   float:left;
   margin-top: 30px;
}

.about-us{
    position: relative;
    top: 30px;
}

.p-us{
  width: 100%;   /* == 400px * .5 = 200px */
  height: 25%;  /* == 160px * .25 = 40px */
  margin: -5%;   /* == 400px * .05 = 20px */
  padding: 5%;  /* == 400px * .05 = 20px */ 
}

/*.about-img {
    animation-name: floating;
    animation-duration: 3.0s;
    animation-iteration-count: infinite;
  }*/

   
/*@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}*/

.footer {
    display: block;
    position: relative;
    right: -175px;
    margin-top: 2%;
    direction: left; 
    
}
  
@keyframes pulse {
    0%,
    100% {
      transform: scale(var(--scale, 1));
      animation-timing-function: ease-in;
    }
    50% {
      transform: scale(var(--scale, 1.11));
    }
  }
  
  
  .button:hover {
    --scale: 1.33;
    animation-play-state: paused;
  }