* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --slate-blue: #849fb8;
    --black: #000000;
    --gray: #c4c4c4;
    --white: #ffffff;
    --light-gray: #ecebeb;
}

.navbar-container {
    width: 100%;
    height: 80px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--slate-blue);
}

@media screen and (max-width: 680px) {
   .navbar-container {
       flex-direction: column;
       height: 95px;
   }
}

.navbar-logo-wrapper {
    height: 100%;
    margin-left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-link, .navigation-link {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

.navbar-logo-img {
    /* Photo by Daniel Nettesheim from Pexels */
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.navbar-logo-brand {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
}

.navbar-navigation-wrapper {
    list-style: none;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 16px;
}

.navigation-item {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 5px;
}

.hero-container {
    background: var(--light-gray);
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content-wrapper {
    width: 65%;
}

.hero-heading {
    font-size: clamp(2.5rem, 6vw, 4rem);
    margin-bottom: 1rem;
}

.hero-slogan {
    font-size: clamp(1.1rem, 2vw, 2.2rem);
    margin-left: 24px;
}